/*
* @Author: admin
* @Date:   2018-09-28 15:42:27
* @Last Modified by:   Administrator
* @Last Modified time: 2018-10-17 17:38:12
*/
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body{
	min-width: 1200px;
}
header{
	background: #f2f2f2;
	border-bottom: 1px solid #dddddd;
	/* padding: 0px 45px 0px 80px; */
}
header div{
	margin-right: auto;
	margin-left: auto;
	width: 1190px;
	line-height: 30px;
}
header div>a{
	float: left;
	padding-left: 20px;
	color: #333;
	text-decoration: none;
}
header span span:nth-of-type(2){
	font-size: 13px;
}
header a.inda span:nth-of-type(2){
	font-size: 13px;
}
header span span:nth-of-type(1){
	background: url('../images/sprite.png');
	display: inline-block;
	width: 14px;
	height: 14px;
	background-position: -5px -243px;
	vertical-align: middle;
}
header a.inda span:nth-of-type(1){
	background: url('../images/sprite.png');
	display: inline-block;
	width: 14px;
	height: 14px;
	background-position: -5px -243px;
	vertical-align: middle;
}
header:after{
	display: block;
	clear: both;
	content: "";
} 
header ul{
	float: right;
}
header ul>li{
	float: right;
	position: relative;
}
header li a{
	font-size:12px;
	color: #666666;
	text-decoration: none;
}
header li a{
	border-left: 1px solid #ccc;
}
header ol li a{
	border-left: none;
}
header ul>li:nth-of-type(1) a{
	padding: 0px 12px;

}
header ul>li:nth-of-type(2) a,
header ul>li:nth-of-type(3) a,
header ul>li:nth-of-type(5) a{
	padding: 0px 17px;
}
header ul>li:nth-of-type(5) a{
	border-left: none;
}
header ul>li.tw,
header ul>li.five
{
	/* padding: 10px 0px 15px; */
}
.sprite{
	background-image: url('../images/sprite.png');
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}
header ul li:nth-of-type(1) .sprite:first-child{
	background-position: -4px -573px;
}
header ul li:nth-of-type(1) .sprite:nth-child(2){
	background-position: -4px -227px;
	width: 10px;
	height: 10px;
}
header ul li:nth-of-type(2) .sprite{
	width: 10px;
	height: 10px;
	background-position: -4px -227px;
}
header ul>li:nth-of-type(4) a{
	padding: 0px 21px;
}
header ul li:nth-of-type(3) .sprite{
	background-position: -3px -427px;
}
header ul li:nth-of-type(4) .sprite{
	background-position: -3px -535px;
}
header ol{
	position: absolute;
	background: #f2f2f2; 
	text-align: center;
	left: 0px;
   	top: 31px;
	 display: none; 
	border: 1px solid #dddddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.business{
	width: 95px;  
}
header ol li{
	line-height: 30px;
}
header ol li:hover{
	 background:#e4e4e4;
}
header .customer{
	text-align: left;
	width: 110px;
}
header .customer a{
	padding: 0px 20px;
}
.buy{
	width: 216px;
	color: #999999;
	left: -95px;
	font-size: 12px;
/* 	display: inline-block; */
	
}
header .buy li{
	line-height: 53px;
	
}

.search{
	width: 100%;
	position: fixed;
	top: -50px;
	left: 0px;
	background: #fff;
	z-index: 3;

}
.search>aside{
	width: 1190px;
	height: 50px;
    text-align: center;
   margin-left: auto;
    margin-right: auto;
}
.search aside>div{
	position: relative;
	float: left;
	width: 240px;
	height: 50px;
}
.search aside .div-theme{
	width: 255px;
	background: rgba(0, 0, 0,0.8);
	top: 49px;
	display: none;
}
.search div.theme:hover .div-theme{
	display: inline-block;
}
.search .div-theme>li>span a b{
	color: #fff;
}
.search .div-theme>li>span a{
	color: #fff;
}
.search .div-theme li{
	line-height: 31px;
}
.search .div-theme li::after{
	content: '';
	display: block;
	clear: both;
}
.search .div-theme>li>span{
	float: left;
}
.search .div-theme>li:hover {
	background: rgba(0, 0, 0, 0.8);
}

.search .div-theme>li>span
{
	color: #fff;
}
.search aside .hid-div{
	background: #fff;
	top: -8px;
	padding-bottom: 14px;
}
.search .hid-div b{
	margin-left: 0px;
}
.search .div-theme>li:nth-of-type(2) .hid-div{
	top: -40px;
}
.search .div-theme>li:nth-of-type(3) .hid-div{
	top: -72px;
}
.search .div-theme>li:nth-of-type(4) .hid-div{
	top: -104px;
}
.search .div-theme>li:nth-of-type(5) .hid-div{
	top: -136px;
}
.search .div-theme>li:nth-of-type(6) .hid-div{
	top: -168px;
}
.search .div-theme>li:nth-of-type(7) .hid-div{
	top: -200px;
}
.search .div-theme>li:nth-of-type(8) .hid-div{
	top:-233px;
}
.search .div-theme>li:nth-of-type(9) .hid-div{
	top: -265px;
}
.search .div-theme>li:nth-of-type(10) .hid-div{
	top: -297px;
}
.search .div-theme>li:nth-of-type(11) .hid-div{
	top: -329px;
}
.search .div-theme>li:nth-of-type(12) .hid-div{
	top: -361px;
}
.search .div-theme>li:nth-of-type(13) .hid-div{
	top: -393px;
}
.search .div-theme>li:nth-of-type(14) .hid-div{
	top: -425px;
}
.search .sp-left{
	float: left;
	margin-left: 60px;
	color: #ff0077;
	margin-top: 17px;
	cursor: pointer;
}
.search .sp-left .sprite:first-child{
	background-position: -3px -173px;
	width: 22px;
	height: 22px;
	margin-top: -3px;
}
.search .sp-left .sprite:nth-child(3){
	background-position: -57px -226px;
	width: 10px;
	height: 10px;
}
.middle{
	height: 33px;
	width: 481px;
	margin: 0px auto;
	border: 1px solid #ff0077;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: inline-block;
    margin-top: 8px;
}
.middle span.big{
	float: left;
    cursor: pointer;
    position: relative;
    padding: 0px 0px 10px;
    line-height: 32px;
}
 .middle .sprite{
	width: 10px;
	height: 10px;
 	background-position: -57px -226px;
}
.middle span ul{
	position: absolute;
	width: 62px;
	top: 34px;
	left: -1px;
	border-bottom: 1px solid #ccc;
	display: none;

}
.middle span ul li{
	list-style: none;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	background: #fff;
	cursor: pointer;
	color: #ff0077;
}
.middle span ul li:hover{
	background: pink;
}
.middle input{
	float: left;
	border: none;
	outline: none;
	width: 314px;
	height: 33px;
}
.middle a {
    float: right;
}
 .middle button{
	width: 102px;
	line-height: 33px;
	color: #fff;
	letter-spacing: 4px;
	background-image: linear-gradient(to left,#ff1680 30%,#ff2157 70%);
	border: none;
	outline: none;
	float: right;
}
 .middle button:hover{
	cursor: pointer;
	background-image: linear-gradient(to left, #ff2157 30%, #ff1680 70%);
}
span.text{	
	margin-left: 10px;
	color: #ff0077;
	font-size: 12px;
}
span.text:nth-of-type(2){
	display: none;
}
.no{
	margin: 18px auto 0px;
	padding-bottom: 8px;
	border-bottom: 2px solid #f46;
}


.no aside{
	width: 1190px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.no::after{
	content: '';
	display: block;
	clear: both;
}
.no .left{
	float: left;
	background-image: url('../images/170904_1fj9406416501i4lkabcc0hjb8341_480x180.png');
	width: 136px;
	height: 46px;
	background-size: 180% 202%;
	 background-position: 1px -23px;  
	 margin-top: 5px;
}

.no .right{
	float: right;
	width: 165px;
	height: 63px;
	background-image: url('../images/00.png');
	background-size: 131% 131%;
	background-position: -52px -9px;

}
/* 主题市场的内容 */
.theme .theme-bottom{
	position: absolute;
	top: 40px;
	left: 0px;
	width: 255px;
	background: rgba(255,255,255,0.6);
	padding-top: 9px;
/* 	padding-left: 10px; */
	box-sizing: border-box;
	z-index: 1;
}
.theme-bottom>li>span{
	margin-left: 17px;
	color: #333;
	font-size:12px; 
	cursor: pointer;
}
.theme-bottom>li>span:nth-of-type(1){
	margin-left: 0px;
}
.theme-bottom>li>span:nth-of-type(2){
	margin-left: 12px;
}
.theme-bottom>li>span a{
	text-decoration: none;
	color: #333;
	font-size:12px; 
}
.theme-bottom>li>span a b{
	font-size: 15px;
	color:black;
}
.theme-bottom>li span.pink-pic a{
	color:#ff0077; 
}
.theme-bottom>li span.pic{
	display: inline-block;
	width: 12px;
	height: 15px;
	background: url('../images/hot.png');
	margin-left:  3px;
	background-size: 100% 100%;
}
.theme-bottom>li .pink a{
	color: #ff0077;
}
.theme-bottom>li>span:hover>span,
.theme-bottom>li>span:hover a
{
	text-decoration: underline;
}
.theme-bottom>li>span:hover .pic{
	text-decoration: none;
}
.theme-bottom>li{
	line-height: 28px;
	box-sizing: border-box;
	padding-left: 9px;
	border-left: 2px solid transparent;
	position: relative;
}
.theme-bottom>li:hover{
	background: #fff;
}
.theme-bottom>li:nth-of-type(1):hover,
.theme-bottom>li:nth-of-type(2):hover,
.theme-bottom>li:nth-of-type(3):hover,
.theme-bottom>li:nth-of-type(4):hover,
.theme-bottom>li:nth-of-type(5):hover,
.theme-bottom>li:nth-of-type(12):hover
{
	border-left-color:  #ff0077;
}
.theme-bottom>li:nth-of-type(6):hover,
.theme-bottom>li:nth-of-type(7):hover,
.theme-bottom>li:nth-of-type(8):hover
{
	border-left-color: blue;
}
.theme-bottom>li:nth-of-type(9):hover{
	border-left-color: purple;
}
.theme-bottom>li:nth-of-type(10):hover{
	border-left-color: skyblue;
}
.theme-bottom>li:nth-of-type(11):hover,
.theme-bottom>li:nth-of-type(13):hover,
.theme-bottom>li:nth-of-type(14):hover
{
	border-left-color:lime;
}
.theme-bottom .bla:hover{
	text-decoration: underline;
}

/* 隐藏的大菜单 */
.hid-div{
	position: absolute;
	top: -7px;
	left: 253px;
	width: 767px;
	height: 440px;
	background: #fff;
	display: none;
	list-style: none;
}
.theme-bottom>li:nth-of-type(2) .hid-div{
	top: -38px;
}
.theme-bottom>li:nth-of-type(3) .hid-div{
	top: -69px;
}
.theme-bottom>li:nth-of-type(4) .hid-div{
	top: -100px;
}
.theme-bottom>li:nth-of-type(5) .hid-div{
	top: -131px;
}
.theme-bottom>li:nth-of-type(6) .hid-div{
	top: -162px;
}
.theme-bottom>li:nth-of-type(7) .hid-div{
	top: -193px;
}
.theme-bottom>li:nth-of-type(8) .hid-div{
	top: -224px;
}
.theme-bottom>li:nth-of-type(9) .hid-div{
	top: -255px;
}
.theme-bottom>li:nth-of-type(10) .hid-div{
	top: -286px;
}
.theme-bottom>li:nth-of-type(11) .hid-div{
	top: -317px;
}
.theme-bottom>li:nth-of-type(12) .hid-div{
	top: -348px;
}
.theme-bottom>li:nth-of-type(13) .hid-div{
	top: -379px;
}
.theme-bottom>li:nth-of-type(14) .hid-div{
	top: -410px;
}
.theme-bottom>li:nth-of-type(4) .hid-div .left{
	padding: 1px 20px 4px;
}
.theme-bottom>li:nth-of-type(6) .hid-div .left{
	padding:17px 20px;
}
.theme-bottom>li:nth-of-type(7) .hid-div .left{
	padding:16px 20px;
}
.hid-div .left{
	float: left;
	width: 485px;
	box-sizing: border-box;
	padding:30px 20px ;
	border-right: 1px solid #eee;
}
.hid-div .left ul li{
	margin-bottom: 40px;
}
.hid-div .left .fir{
	overflow: hidden;
	color: #333333;
}
.hid-div .left h5{
	float: left;
}
.hid-div .left span{
	float: right;
	font-size: 14px;
	cursor: pointer;
}
.hid-div .left .sec{
	width: 396px;
	overflow: hidden;
}
.hid-div .left a{
	font-size: 12px;
	color: #aaa;
	text-decoration: none;
	margin-right: 16px;
	margin-top:14px; 
	float: left;
	line-height: 15px;
}
.hid-div .left a:hover{
	text-decoration: underline;
}
.hid-div li:nth-of-type(1) a:nth-of-type(1),
.hid-div li:nth-of-type(1) a:nth-of-type(2),
.hid-div li:nth-of-type(1) a:nth-of-type(3),
.hid-div li:nth-of-type(1) a:nth-of-type(4),
.hid-div li:nth-of-type(1) a:nth-of-type(10),
.hid-div li:nth-of-type(2) a:nth-of-type(1),
.hid-div li:nth-of-type(2) a:nth-of-type(5),
.hid-div li:nth-of-type(2) a:nth-of-type(3),
.hid-div li:nth-of-type(2) a:nth-of-type(8),
.hid-div li:nth-of-type(3) a:nth-of-type(4),
.hid-div li:nth-of-type(3) a:nth-of-type(2),
.hid-div li:nth-of-type(3) a:nth-of-type(6)
{
	color: #ff5777;
}
/* .hid-div .right a{
	text-decoration: none;
	color: #999; 
} */
.hid-div .right{
	overflow: hidden;
	padding: 10px 21px 0px;
    box-sizing: border-box;
}
.hid-div b{
	color: black;
	font-weight: 500;
	font-size: 18px;
	margin-left: 76px;
}
.hid-div img{
	display: block;
}
.hid-div img:hover{
	opacity: 0.6;
}
.hid-div .right ul{
	margin-top: 10px;
	cursor: pointer;
}
.hid-div .right li{
	width: 100px;
	height: 128px;
	float: left;
	margin: 0px 10px;
}
.hid-div .right span{
	display: inline-block;
	width: 100px;
	overflow: hidden;
	font-size: 12px;
	height:18px ;
	color: #999;
	line-height: 18px;
}



/* 关于搜索栏下边一小块 */
.small{
	width: 461px;
	margin-left: auto;
    margin-right: auto;
}

.small a{
	font-size: 12px;
	margin: 0px 0px;
	margin-right: 12px;
	color:#9a9a9a;
	text-decoration: none;
}
.small a:nth-of-type(1){
	margin-left: -101px;
}
.small a:hover{
	text-decoration:underline;
	color: #ff0077;
}
.small a:nth-of-type(1),
.small a:nth-of-type(8),
.small a:nth-of-type(9)
{
	color: #ff0077; 
}

/* 内容区 */
section{
	width: 1200px;
	margin: 0px auto;
	overflow: hidden;
}
div.fen{
	margin-top: 23px;
	margin-bottom: 15px;
}
div.fen::after{
	content: '';
	display: block;
	clear: both;
}
div.fen span{
	cursor: pointer;
	float: left;
	font-size: 12px;
}
div.fen span.sp1,
div.fen span.clear-all{
	line-height: 14px;
	margin-top: 4px;
}
div.fen span.sp1{
	color: #333;
	margin-right: 10px;
}
div.fen span.sp1 b{
	color: #ccc;
	margin-left: 5px;
	font-weight: 600;
}
div.fen span.sp2{
	color: #666;
	line-height: 22px;
	padding: 0px 8px 0px 5px;
	border: 1px solid #ddd;
	margin-right: 10px;
}
div.fen span.sp2 b.close1{
	margin-left: 27px;
	color:#b2b2b2;
	font-weight: normal;
}
div.fen span.clear-all{
	color: #999;
	font-weight: normal;
	padding-left: 9px;
	border-left: 1px solid #eee;
	 display: none; 
}
div.fen span.clear-all b.close2{
	margin-right: 13px;
	font-weight: normal;
}
.content ul.select{
	font-size: 12px;
}
.content ul.select>li{
	line-height: 50px;
	overflow: hidden;
	background: #f3f3f3;
}
.content ul.select p,
.content ul.select div.div-wrap{
	float: left;
}
.content ul.select div.div-wrap{
	width: 1108px;
	padding: 0px 30px;
	box-sizing: border-box;
	background: #fafafa;
}
.content ul.select p{
	padding-left: 10px;
	color: #333;
	font-weight: 700;
	width: 80px;
	line-height: 51px;
}
.content ul.select div.divch{
	width:1048px;
	border-bottom: 1px dotted #d2d2d2;
	color: #666;
	position: relative;
	 height: 50px; 
}
.content ul.select div.divch div{
	width: 670px;
	overflow: hidden;
}
/* .content ul.select div.divch div::after{
	content: '';
	display: block;
	clear: both;
} */
.content ul.select form{
	width: 620px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	padding-bottom: 15px;
	
}
.content ul.select input[type='submit']
{
	border: none;
	outline: none;
	color: #fff;
	background-color: #f46;
	padding: 2.5px 15px;
	border-radius: 5px;
	margin-right: 10px;
}
.content ul.select form button{
	background-color: #fff;
    color: #666;
    border: 1px solid #c4c4c4;
    padding: 2.5px 15px;
    outline: none;
    border-radius: 5px;
}
.content ul.select span{
	margin-right: 30px;
	cursor: pointer;
	font-family: tahoma, arial, sans-serif;
	float: left;
}
.content ul.select span:hover{
	text-decoration: underline;
}
.content ul.select aside{
	position: absolute;
	top: 0px;
	right: 0px;
}
.content ul.select b{
	font-weight: normal;
	margin-left: 10px;
	cursor: pointer;
}
.content ul.select b.sj{
	border: 1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 17px;
}
.content ul.select i{
	border: 4px solid #111;
	line-height: 18px;
	border-left-color: #fff;
	border-right-color: #fff;
	border-bottom-color: #fff;
	 float: right;
    margin-top: 7px;
    margin-right: 5px;
}
ul.select li.shai{
	height: 51px;
	overflow: unset;
}
ul.select li.shai div.shai-div{
	border-bottom: none;
	color: #666;
	padding: 13px 0px 10px;
	box-sizing: border-box;
}
ul.select li.shai div.shai-div::after{
	content: '';
	display: block;
	clear: both;
}
ul.select div.shai-div span{
	float: left;
	position: relative;
	padding-left: 15px;
	line-height: 25px;
	border: 1px solid #ddd;
	background: #fff;
	padding-right: 50px;
}
ul.select div.shai-div span:hover{
	cursor: pointer;
	text-decoration: none;
}
ul.select div.shai-div ol{
	position: absolute;
	top: 25px;
    left: -1px;
    width: 200px;
    padding: 10px 15px 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
}
ul.select div.shai-div span:hover ol{
	display: inline-block;
}
ul.select div.shai-div i{
	position: absolute;
	border-color: #949494 transparent transparent;
	top: 10px;
    right: 10px;
    margin: 0px 0px;
}
ul.select div.shai-div li{
	float: left;
	margin-left: 15px;
}
ul.select div.shai-div li:hover{
	cursor: pointer;
	text-decoration: underline;
}
.content div.a-link{
	background: #fafafa;
    border: 1px solid #f1f1f1;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 10px;
}
.content div.a-link span{
	color: #999;
	margin-right: 27px;
	line-height: 38px;
}
.content div.a-link a{
	color: #666;
	text-decoration: none;
	margin-right: 30px;
	font-size: 12px;
}
.content div.zong .cli-red{
	color: #f36;
}
.content div.zong{
	border: 1px solid #e5e5e5;
	overflow: hidden;
	font-size: 12px;
	color: #333;
	padding: 7px 0px;
	margin-bottom: 30px;
}
.content div.zong>span{
	cursor: pointer;
	float: left;
	line-height: 24px;
	padding: 0px 20px;
	border-right: 1px solid #e5e5e5;
}
.content div.zong aside{
	float: left;
	margin-left: 20px;
	line-height: 22px;
}
.content div.zong form{
	float: left;
}
.content div.zong span.fom-sp{
	float: left;
	color: #999;
	width: 46px;
	line-height: 22px;
	border: 1px solid #dadada;
}
.content div.zong input{
	outline: none;
	border: none;
	display: inline-block;
	width:34px;
}
.content div.zong span.fom-mid{
	float: left;
	line-height: 24px;
	margin: 0px 5px;
}
.content div.zong aside>span{
	float: left;
	text-align: center;
	cursor: pointer;
}
.content div.zong span.sure{
	margin: 0px 10px;
	width: 45px;
	border: 1px solid #dadada;
}
.content div.zong span.pric{
	width: 74px;
	border: 1px solid #e5e5e5;
}
.content div.zong span.prictw{
	border-left: none;
	border-right: none;
}
.content div.zong aside::after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 16px;
	background: #e5e5e5;
	margin-left: 20px;
	vertical-align: middle;
}
.content li.color form{
	margin-top: 10px;
}
.content li.element form{
	margin-top: 8px;
}
footer{
	margin: 60px auto 54px;
	width: 1200px;
}
footer ul{
	border-bottom: 2px solid #ff5777;
}
footer ul a:hover{
	color: #ff5777;
}
footer ul>li{
	float: left;
	width: 25%;
	height: 100px;
}
footer b{
	font-size: 13px;
	margin-left: 44px;
	color: #666666;
}
footer ol{
	margin-left: 20px;
	width: 200px;
	margin-top: 15px;
}
footer ul::after{
	content: '';
	display: block;
	clear: both;
}
footer ol::after{
	content: '';
	display: block;
	clear: both;
}
footer ol>li{
	float: left;
	width: 80px;
	font-size: 12px;
	 line-height: 21px;
	 color: #999999;
}
footer a{
	 font-size: 12px;
	line-height: 21px;
	text-decoration: none;
	color: #999999; 
}
footer .four li{
	width: 66px;
	position: relative;
}
footer .four img{
	position: absolute;
	width: 70px;
	height: 70px;
	top: 22px;
	left: -14px;
	display: none;
}
footer .four li:hover img{
	display: inline-block;
}
footer div{
	width: 946px;
	margin-top: 5px;
}
footer .spa a{
	font-size: 12px;
	color: #666666;
	line-height: 22px;
	display: inline-block;
	width: 80px;
	margin-right: -8px;
}
footer .spa a:hover{
	color: #ff5777;
}
footer .spa2{
	font-size: 12px;
	line-height: 28px;
	color: #999999; 
}
footer .spa2 span{
	border-right: 1px solid #999999;
	padding-right: 9px;
	padding-left: 2px;
}
footer .spa2 a{
	font-size: 12px;
	line-height: 27px;
}
footer .spa span{
	font-size: 12px;
	color: #999999; 
	line-height: 22px;
	/* float: left; */
}
footer .spa2 span:nth-of-type(1){
	padding-left: 0px;
}
.a1{
	font-family: "PingFang SC","Times New Roman","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",STXihei,"\534E\6587\7EC6\9ED1",serif;

}
.nav{
	width: 30px;
	position: fixed;
	height: 100%;
	top: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.8);
	padding-top: 60px;
	text-align: center;

}
.nav a{
	width: 22px;
	color: #fff;
	text-decoration: none;
	padding: 13px 0px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	display: inline-block;
}
.nav div{
	cursor: pointer;
}
.nav div:hover{
	background: red;
}
.nav-sprite{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url('../images/sprite.png');
	background-position: -272px -135px;
}
.nav img{
	position: absolute;
	top: -10px;
	left: -175px;
	display: none;
}
.nav .img:hover img{
	display: inline-block;
}
.nav .img{
	position: relative;
}
.nav .card{
	background-position: -272px -166px;
}
.nav .wallet{
	background-position: -272px -226px;
}
.nav .foot{
	background-position: -272px -194px;
}
.nav .scan{
	display: inline-block;
	background: url('../images/180521_8d03604744igdgagjk7iggg44lkeb_16x16.png') no-repeat;
	width:16px;
	height:16px;
	background-size: 100% 100%;
}
.nav .top{
	position: absolute;
	bottom: 60px;
	right: 0px;
	width: 100%;
	background: #333;
 	display: none; 
}
.nav .top a{
	border-bottom: none;
	border-top: 1px solid #ccc;
	line-height: 44px;
	padding: 0px;
}
.nav .top .nav-sprite{
	background-position: -273px -284px;
	width: 18px;
	height: 18px;
}
.nine ul::after{
	content: "";
	display: block;
	clear: both;
}
.nine li{
	border: 1px solid #f2f2f2;
	width: 218px;
	height: 373px;
	background: #fff;
	margin-bottom: 39px;
	margin-right: 25px;
	float: left;
}
.nine img{
	width:100%;
	display: block;
}
.nine .bottom{
	width: 201px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.nine li:nth-of-type(5n){
	margin-right: 0px;
}
.nine .bottom p{
	font-size: 13px;
	width: 100%;
}
.nine .bottom p:first-child{
	color: #333333;
	line-height: 20px;
	height: 40px;
    overflow: hidden;
    margin-bottom: 7px;
    margin-top: 12px;
}
.nine .bottom p:first-child,
.nine .bottom p:nth-of-type(2){
	float: left;
}
.nine .bottom b{
	color: #333333;
	margin-right: 8px;
	font-size: 16px;
}
.nine del{
	color: #666666;
}
.nine .bottom span{
	float: right;
	color: #999999;
}
.nine .bottom p:last-child{
	position: absolute;
	text-align: center;
	width: 218px;
	color: #fff;
	line-height: 22px;
	background-color: rgba(254, 77, 100, 0.7);
	top: -22px;
	left: -8px;
	display: none;
}
.nine a{
	text-decoration: none;
}
div.nine p span{
	background: url('../images/upload_27g4f1ch6akie83hacb676j622b9l_32x30.png') no-repeat;
	background-size: 16px 15px;
	background-position:0px 1px; 
	padding-left: 20px;
}
























