/*
* @Author: Administrator
* @Date:   2018-10-05 08:26:39
* @Last Modified by:   admin
* @Last Modified time: 2018-10-17 18:31:00
*/
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body{	
	min-width: 1200px;
	/* padding: 0px 45px 0px 80px; */
}
header{
	border-bottom: 1px solid #dddddd;
	background: #f2f2f2;
}
header div{
	
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
	line-height: 30px;
}
header div:after{
	content: '';
	display: block;
	clear: both;
}
header div>span{
	float: left;
	padding-left: 20px;
}
header div>a{
	float: left;
	padding-left: 20px;
	color: #333;
	text-decoration: none;
}
header span span:nth-of-type(2){
	font-size: 13px;
}
header span span:nth-of-type(1){
	background: url('../images/sprite.png');
	display: inline-block;
	width: 14px;
	height: 14px;
	background-position: -5px -243px;
	vertical-align: middle;
}
header a.inda span:nth-of-type(2){
	font-size: 13px;
}
header a.inda span:nth-of-type(1){
	background: url('../images/sprite.png');
	display: inline-block;
	width: 14px;
	height: 14px;
	background-position: -5px -243px;
	vertical-align: middle;
}
header:after{
	display: block;
	clear: both;
	content: "";
} 
header ul{
	float: right;
}
header ul>li{
	float: right;
	position: relative;
}
header li a{
	font-size:12px;
	color: #666666;
	text-decoration: none;
}
header li a{
	border-left: 1px solid #ccc;
}
header ol li a{
	border-left: none;
}
header ul>li:nth-of-type(1) a{
	padding: 0px 12px;

}
header ul>li:nth-of-type(2) a,
header ul>li:nth-of-type(3) a,
header ul>li:nth-of-type(5) a{
	padding: 0px 17px;
}
header ul>li:nth-of-type(5) a{
	border-left: none;
}
header ul>li.tw,
header ul>li.five
{
	/* padding: 10px 0px 15px; */
}
.sprite{
	background-image: url('../images/sprite.png');
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}
header ul li:nth-of-type(1) .sprite:first-child{
	background-position: -4px -573px;
}
header ul li:nth-of-type(1) .sprite:nth-child(2){
	background-position: -4px -227px;
	width: 10px;
	height: 10px;
}
header ul li:nth-of-type(2) .sprite{
	width: 10px;
	height: 10px;
	background-position: -4px -227px;
}
header ul>li:nth-of-type(4) a{
	padding: 0px 21px;
}
header ul li:nth-of-type(3) .sprite{
	background-position: -3px -425px;
}
header ul li:nth-of-type(4) .sprite{
	background-position: -3px -535px;
}
header ol{
	position: absolute;
	background: #f2f2f2; 
	text-align: center;
	left: 0px;
   	top: 31px;
	 display: none; 
	border: 1px solid #dddddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.business{
	width: 95px;  
}
header ol li{
	line-height: 30px;
}
header ol li:hover{
	 background:#e4e4e4;
}
header .customer{
	text-align: left;
	width: 110px;
}
header .customer a{
	padding: 0px 20px;
}
.buy{
	width: 216px;
	color: #999999;
	left: -95px;
	font-size: 12px;
/* 	display: inline-block; */
	
}
header .buy li{
	line-height: 53px;
	
}
header ol.buy{
	width: 250px;
	padding: 15px;
}
header ol.buy li{
	overflow: hidden;
	padding-bottom: 12px;
}
header ol.buy a.lef,
header ol.buy p.mid
{
	float: left;
}
header ol.buy a.lef{
	padding: 0px;
	line-height: 40px;
	height: 40px;
}
header ol.buy p.rig{
	float: right;
}
header ol.buy img{
	height: 40px;
	margin-right: 10px;
}
header p.mid{
	width: 150px;
	text-align: left;

}
header p.rig{
	text-align: right;
}
header ol.buy p.mid a{
	display: block;
	padding: 0px;
	color: #333;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}
header ol.buy p.mid a:hover{

	text-decoration: underline;
}
header p.mid span{
	display:block;
	color: #999;
	font-size: 12px;
	line-height: 20px;
}
header ol.buy p.rig span{
	display: block;
	height: 22px;
	line-height: 22px
}
header ol.buy li:hover{
	background: none;
}
header p.rig span.pri{
	color: #666;
}
header p.rig span.delete{
	margin-top: -5px;
	cursor: pointer;
}
header ol.buy li.bord{
	padding-top: 15px;
	padding-bottom: 0px;
	border-top: 1px solid #ddd;
}
header ol.buy a.see{
	float: right;
	color: #fff;
	background: #f46;
	border-radius: 4px;
    font-weight: 700;
    line-height: 22px;
    padding: 0px 10px;
}
header li b.red{
	font-weight: normal;
	color: #f46;
}
div.log-wrap{
	border-bottom: 1px solid #ddd;
	background: #f2f2f2;
	height: 72px;
}
div.log::after{
	content: '';
	display: block;
	clear: both;
}
div.log{
	
	width: 1200px;
	margin: 0px auto;
}
div.log div.left{
	float: left;
}
div.log div.right{
	padding-top: 18px;
	float: right;
}
div.log div.right aside b,
div.log div.right aside hr{
	display: inline-block;
}
div.log div.right b{
	color: #fff;
	font-size: 14px;
	width: 23px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 50%;
	background: #dddddd;
	font-weight: normal;
}
div.log div.right hr{
	width: 67px;
	height: 4px;
	background: #dddddd;
	border: none;
	outline: none;
	margin-left: -5px;
	vertical-align: middle;
}
div.log div.right aside{
	text-align: center;
	float: left;
}
div.log div.right aside.one{
	width: 90px;
	text-align: left;
}
div.log div.right aside.four{
	text-align: right;
}
div.log div.right span{
	color:#999 ;
	font-size: 12px;
	float: left;
}
div.log div.right hr.fir{
	margin-left: -1px;
	margin-right: -5px;
}
div.log div.right b.red,
div.log aside.one hr
{
	background-color: #f46;
}
div.log aside.one span{
	color: #f46;
}
div.log aside.four b{
	background: url('../images/171012_12eba941iia4fajf729ked218cd8k_23x23.png') #dddddd;
	background-size: 23px 23px;
}
div.log aside.four hr{
	margin-top: -11px;
}
div.log div.left{
	margin-top: 14px;
	width: 210px;
	background: url('../images/180131_1i8a4056f4145939j5gk52544c70a_207x51.png') no-repeat;
	height: 52px;
}
/* 内容区 */
section{
	width: 1200px;
	margin: 0px auto;
}
section div.title{
	font-size: 20px;
	color: #333;
	margin-top: 30px;
	overflow: hidden;
}
section div.title span{
	float: left;
	line-height: 28px;
	margin-right: 55px;
	padding-bottom: 6px;
}
section div.title span.cache:hover{
	cursor: not-allowed;
}
section div.title span.red{
	color: #f57;
	border-bottom: 3px solid #f57;
}
section div.title b{
	font-weight: normal;
}
/* 表格 */
section table{
	width: 1200px;
	border-collapse: collapse;
}
section tr{
	padding: 15px 0px;
	font-size: 12px;
	color: #333;
}
section thead tr{
	height: 48px;
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
}

section table .fir{
	width: 90px;
}
section table .sec{
	width: 613px;
}
section table .thir{
	width: 140px;
	text-align: left;
}
section table .forth{
	width: 77px;
}
section table .fifth{
	width: 99px;
}
section table .sith{
	width: 100px;
}
section table .sevth{
	width: 80px;
}

section input[type='checkbox']{
	margin-right: 5px;
}
section tbody tr{
	padding: 0px;
}
section tbody tr.shop td{
	padding-left: 24px;
	padding-top: 28px;
	padding-bottom: 12px;
} 
section tr.shop a{
	color: #333;
	text-decoration: none;
}
section tbody a.shopnam{
	font-weight: 700;
}
section tbody span.shopnam{
	padding-right: 24px;
	background: url('../images/ubzlo_ieydmzldmq3tqojvmmytambqmmyde_16x19.gif') no-repeat;
	background-position: 75px 7px;
	padding-top: 10px;	
	margin-right: 5px;	
}
section tbody span.nam2{
	background-position: 60px 7px;
}
section tr.shop i{
	display: inline-block;
	width: 5px;
	height: 5px;
	background: red;
	border-radius: 4px;
	vertical-align: middle;
	margin-right: 5px;
}
section tr.shop span:nth-of-type(2){
	margin-right: 15px;
}
section tr.shop span:nth-of-type(3){
	margin-right: 12px;
	display: inline-block;
	border: 1px solid #f13e3a;
    border-radius: 3px;
    color: #f13e3a;
    padding: 0 7px;
    line-height: 22px;
    background: url('../images/80499004_5a20fh9jjldbbiccb80j71l886c8h_9x5.png') no-repeat;
	background-position: 44px 9px;
	width: 60px;
	box-sizing: border-box;
	cursor: pointer;
}
section tr.pro{
	border: 1px solid #e5e5e5;
}
 section tr.pro td{
 	vertical-align: top;
	text-align: center;
	padding-top: 15px;
} 
 section tr.pro td.fir{
	padding-left: 24px;
	box-sizing: border-box;
	text-align: left;
}
/*
section tr.pro input{
	position: absolute;
	left: 25px;
	top: 15px;
} */
section tr.pro td.sec{
	padding-top: 0px;
}
section td.sec a{
	float: left;
	line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 85px;
    color: #333;
    text-decoration: none;
    padding: 15px 0px;
}
section td.sec img{
	width: 80px;
}
section tr.pro td.thir{
	text-align: left;
	color: #666;
}
section tr.pro td.forth{
	line-height: 20px;
}
section tr.pro td.forth span{
	color: #ff5777;
	font-weight: 700;
}
section td.fifth span{
	float: left;
	border:1px solid #ddd;
	text-align: center;
	
	line-height: 25px;
}
section td.fifth span.minus,
section td.fifth span.plus{
	width: 25px;
	font-size: 22px;
	color:#969696;
}
section td.fifth span.num{
	width: 43px;
	color: #333;
	border-left: none;
	border-right: none;
	font-weight: 700;
}

section td.fifth span.tw{
	cursor: pointer;
}
section td.fifth span.on{
	opacity: 0.5;
	cursor:not-allowed;
}
section td.sith span{
	color: #ff5777;
	font-size: 16px;
}
section td.sevth span:hover{
	text-decoration: underline;
}
section div.pay{
	margin-top: 16px;
	border: 1px solid #e5e5e5;
	padding-left: 24px;
	line-height: 50px;
	font-size: 12px;
	color: #666;
	overflow: hidden;
}
section div.pay aside.left{
	float: left;
}
section div.pay input{
	margin-right: 21px;
}
section div.pay aside.left label,
section div.pay aside.left span{
	margin-right: 10px;
	cursor: pointer;
}

section div.pay aside.right{
	float: right;
}
section div.pay i{
	font-style: normal;
	color: #ff5777;
	margin: 0px 5px;
}
section div.pay a{
	background:#d8d8d8 ;
	color: #fff;
	font-size: 20px;
	padding: 15px 35px;
	text-decoration: none;
	margin-left: 12px;
}
section div.pay aside.right b{
	color: #ff5777;
	font-weight: 700;
	font-size: 26px;
	vertical-align: middle;
}
footer{
	margin: 60px auto 54px;
	width: 1200px;
}
footer ul{
	border-bottom: 2px solid #ff5777;
}
footer ul a:hover{
	color: #ff5777;
}
footer ul>li{
	float: left;
	width: 25%;
	height: 100px;
}
footer b{
	font-size: 13px;
	margin-left: 44px;
	color: #666666;
}
footer ol{
	margin-left: 20px;
	width: 200px;
	margin-top: 15px;
}
footer ul::after{
	content: '';
	display: block;
	clear: both;
}
footer ol::after{
	content: '';
	display: block;
	clear: both;
}
footer ol>li{
	float: left;
	width: 80px;
	font-size: 12px;
	 line-height: 21px;
	 color: #999999;
}
footer a{
	 font-size: 12px;
	line-height: 21px;
	text-decoration: none;
	color: #999999; 
}
footer .four li{
	width: 66px;
	position: relative;
}
footer .four img{
	position: absolute;
	width: 70px;
	height: 70px;
	top: 22px;
	left: -14px;
	display: none;
}
footer .four li:hover img{
	display: inline-block;
}
footer div{
	width: 946px;
	margin-top: 5px;
}
footer .spa a{
	font-size: 12px;
	color: #666666;
	line-height: 22px;
	display: inline-block;
	width: 80px;
	margin-right: -8px;
}
footer .spa a:hover{
	color: #ff5777;
}
footer .spa2{
	font-size: 12px;
	line-height: 28px;
	color: #999999; 
}
footer .spa2 span{
	border-right: 1px solid #999999;
	padding-right: 9px;
	padding-left: 2px;
}
footer .spa2 a{
	font-size: 12px;
	line-height: 27px;
}
footer .spa span{
	font-size: 12px;
	color: #999999; 
	line-height: 22px;
	/* float: left; */
}
footer .spa2 span:nth-of-type(1){
	padding-left: 0px;
}
.a1{
	font-family: "PingFang SC","Times New Roman","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",STXihei,"\534E\6587\7EC6\9ED1",serif;

}
.nav{
	width: 30px;
	position: fixed;
	height: 100%;
	top: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.8);
	padding-top: 60px;
	text-align: center;

}
.nav a{
	width: 22px;
	color: #fff;
	text-decoration: none;
	padding: 13px 0px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	display: inline-block;
}
.nav div{
	cursor: pointer;
}
.nav div:hover{
	background: red;
}
.nav-sprite{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url('../images/sprite.png');
	background-position: -272px -135px;
}
.nav img{
	position: absolute;
	top: -10px;
	left: -175px;
	display: none;
}
.nav .img:hover img{
	display: inline-block;
}
.nav .img{
	position: relative;
}
.nav .card{
	background-position: -272px -166px;
}
.nav .wallet{
	background-position: -272px -226px;
}
.nav .foot{
	background-position: -272px -194px;
}
.nav .scan{
	display: inline-block;
	background: url('../images/180521_8d03604744igdgagjk7iggg44lkeb_16x16.png') no-repeat;
	width:16px;
	height:16px;
	background-size: 100% 100%;
}
.nav .top{
	position: absolute;
	bottom: 60px;
	right: 0px;
	width: 100%;
	background: #333;
 	display: none; 
}
.nav .top a{
	border-bottom: none;
	border-top: 1px solid #ccc;
	line-height: 44px;
	padding: 0px;
}
.nav .top .nav-sprite{
	background-position: -273px -284px;
	width: 18px;
	height: 18px;
}
section.blank{
	margin-top: 30px;
}








